<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" [routerLink]="['new']" routerLinkActive="active" class="btn btn-secondary">New</button>
            <button type="button" [routerLink]="['edit']" routerLinkActive="active" class="btn btn-secondary">Edit</button>
            <button type="button" [routerLink]="['detail']" routerLinkActive="active" class="btn btn-secondary">Detail</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>