<h1>Heroes</h1>

<hr>

<div class="row">
    <div class="col-md-12 text-right">

        <button [routerLink]="['/heroe', 'new']" routerLinkActive="router-link-active" class="btn btn-outline-primary ">
      New Heroe
    </button>

    </div>

</div>

<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>House</td>
                        <td>Options</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>