<div class="container p-2">

    <form action="">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 bg-info">
                topLeft
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 bg-danger text-right">
                topright
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 bg-danger">
                <div class="search-input-box">
                    <label for="">Origen</label>
                    <app-input-typeahead></app-input-typeahead>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 bg-info">
                arrival
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 bg-danger">
                departur
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 bg-info">
                return
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 bg-danger">
                passangers
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 bg-info">
                button
            </div>

        </div>
    </form>

</div>